.clear::after {
    content: '';
    display: block;
    clear: both;
}
.gallery {
    width: 455px;
    margin: auto;
    margin-top: 10px;
}
.poster-img {
    height: 615px;
}
.poster-img img {
    opacity: 1;
    transition: all 1s;
}
.menu-img {
    list-style: none;
}
.nav-img img {
    float: left;
    width: 65px;
    height: 87px;
}
.nav-img img:hover {
    opacity: 0.5;
    transition: all 0.3s;
}
.nav-active {
    opacity: 0.5;
}
